<app-header></app-header>




<div class="page-content">
  <br>
  <div class="container">
    <h2 class="title-underline">Weather Details of: {{weatherData?.title}}</h2>
  </div>



  <div class="container offset-top90" style="margin-top: 20px;">


    <!-- <app-weather [weatherData]="weatherData"></app-weather> -->
    <div class="row">
      <div class="col-md-4" *ngFor="let weather of weatherDataWeekly">
        <div class="card  col-md-12 mb-20">
        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <h4 class="card-title">{{weather.applicable_date | date: dddd  }}</h4>
              <h4 class="card-title">{{weather.applicable_date | date: 'EEEE' }}</h4>
              <p class="card-text">Temp: {{weather.the_temp.toString().substring(0,5)}}°</p>
              <p class="card-text">Max Temp: {{weather.max_temp.toString().substring(0,5)}}°</p>
              <p class="card-text">Min Temp: {{weather.min_temp.toString().substring(0,5)}}°</p>
            </div>
            <div class="col-4">
              <img class="weather-img-100" src="https://www.metaweather.com/static/img/weather/{{weather.weather_state_abbr}}.svg">
            </div>
          </div>
        
        </div>
            
      </div>
      </div>
      </div>
    

    </div>







  <br>


  <app-footer></app-footer>

</div>