<app-header></app-header>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">{{spinnerText}}</p>
</ngx-spinner>


<div class="page-content">
  <br>
  <div class="container">
    <h2 class="title-underline">Film Details of: {{filmData?.name}}</h2>
  </div>



  <div class="container offset-top90" style="margin-top: 20px;">


    <div class="card mb-20" style="width:100%;">
      <img class="card-img-top" src="{{filmData?.photo}}" alt="{{filmData?.name}}">
      <div class="card-body">
        <h4 class="card-title">{{filmData?.name}}</h4>
        <div class="row mb-10">
          <div class="col-6">
            <b>Release Date:</b> {{filmData?.realeaseDate | date: dddd}}
          </div>
          <div class="col-6">
            <b>Rating:</b> {{filmData?.rating}}
          </div>
        </div>
        <div class="row mb-10">
          <div class="col-6">
            <b>Ticket Price:</b> {{filmData?.ticketPrice}}
          </div>
          <div class="col-6">
            <b>Country:</b> {{filmData?.country}}
          </div>
        </div>
        <div class="row mb-10">
          <div class="col-12">
            <b>Genre:</b> {{filmData?.genre}}
          </div>
        </div>

        <p class="card-text"><b>Description:</b> {{filmData?.description}} </p>
       
        <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
      </div>
    </div>
    

    <form class="boxed-form" method="post" novalidate="novalidate" *ngIf="sessionData != null">

      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="form-group">
            <label class="control-label">Add Comment</label>
            <textarea class="form-control" [(ngModel)]="commentText" type="text" value="" style="margin-bottom: 0px" name="commentText" placeholder="Tell use what you think about this film"></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3"> <button (click)="submitComment()" class="btn_blue" type="button" id="submit">Submit</button></div>
        <div class="col-md-5"></div>
        <div class="col-md-4"></div>
      </div>
    </form>

    <h4 *ngIf="sessionData == null">Kinldy login to comment on this film</h4>



  
        <div *ngFor="let comment of commentList">


          <div class="row">
          <div class="col-2">
            <div class="message-avatar"><img src="assets/images/meUser.jpg" alt=""/></div>
          </div>
          <div class="col-10">
            <!-- <p>{{comment.text}}</p> -->
            <p>{{comment.text}}</p>
            <p>{{comment.createdAt | date: EEEE}}</p>
          </div>

          </div>

                 
             </div>


        </div>      







    </div>







  <br>


  <app-footer></app-footer>
