<footer class="offset-top0">

  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-md-4 col-lg-4 pull-right">
        <!-- time-table -->
        <div class="time-table align-center">
          Monday - Sunday
          <br> 24/7
        </div>
        <!-- /time-table -->
      </div>
      <div class="col-xs-12 col-md-4 col-lg-4 pull-right">
        <!-- box-location -->
        <div class="box-location align-center">
          Islamabad, Pakistan
        </div>
        <!-- /box-location -->
      </div>
      <div class="col-xs-12 col-md-4 col-lg-4">
        <!-- copyright-box -->
        <div class="copyright-box align-center">
          &copy; 2021 - Weather. <br />All Rights Reserved.
        </div>
        <!-- /copyright-box -->
      </div>
    </div>
  </div>
  <div class="bubbleContainer"></div>
</footer>