<app-header></app-header>




<div class="page-content">
  <br>
  <div class="container">
    <h2 class="title-underline">Search Result</h2>
  </div>



  <div class="container offset-top90" style="margin-top: 20px;">


    <app-weather [weatherData]="weatherData"></app-weather>

    <div class="row" style="margin-bottom: 40px">

      <div class="col-md-12 col-lg-12" >
        <h3 class="mb-50 danger-text-center" *ngIf="nodata">No results were found. Try changing the keyword!</h3>

        <form id="contactform" class="boxed-form" name="contactform" method="post" novalidate="novalidate">

          <div class="row">
          
              <div class="col-md-3">
              </div>
          
            <div class="col-md-5">
              <div class="form-group">
                <input class="form-control" [(ngModel)]="search_data.title" type="text" value="" name="title" placeholder="Search weather by City">
              </div>
            </div>
            <div class="col-md-2">
              <button (click)="search()" class="btn_blue" type="button" id="submit">Search</button>
            </div>
            <div class="col-md-1">
              </div>
          </div>
          </form>

      </div>
      
    </div>


    

    </div>







  <br>


  <app-footer></app-footer>

</div>