<app-header></app-header>
<div class="breadcrumb">
  <div class="container">
    <div class="row">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li>Login</li>
      </ul>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">{{spinnerText}}</p>
</ngx-spinner>
<!-- /breadcrumb  -->
<div class="page-content">
  <div class="container">
    <h1 class="title-underline">Login</h1>
    <div class="row">
      <div class="col-sm-10 col-md-8 col-lg-10 col-lg-offset-1">
        <!-- form-block -->
        <form id="contactform" class="boxed-form" name="contactform" method="post" novalidate="novalidate">

          <div class="row">
            <div class="col-md-12 col-lg-6">
              <div class="form-group">
                <label class="control-label">Email</label>
                <input class="form-control" [(ngModel)]="login_data.email" type="email" value="" name="email">
              </div>
            </div>
            <div class="col-md-12 col-lg-6">
              <div class="form-group">
                <label class="control-label">Password</label>
                <input class="form-control" [(ngModel)]="login_data.password" type="password" value="" name="password">
              </div>
            </div>
          </div>
          <!-- <a class="anchor_link" routerLink="/forget_password">Forget Password</a> -->
          <div class="clearfix"></div>
          <br>
          <div class="row">
            <div class="col-md-3"> <button (click)="login()" class="btn_blue" type="button" id="submit">LOGIN</button></div>
            <div class="col-md-5"></div>
            <div class="col-md-4"></div>
          </div>
        </form>

      </div>
    </div>
  </div>
  <br>


<app-footer></app-footer>

</div>
